@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

@media screen and (min-width: 640px) {
  .imageBackground{
    background: url('/images/background.png') no-repeat center center;
    background-size: cover;
    width: 100%;
  }
  
}

.labelForm{
  @apply font-montserrat block text-sm font-medium leading-6 text-white;
}

.labelDark{
  @apply font-montserrat block text-sm font-medium leading-6 text-darkBlue;
}

.inputForm{
  @apply font-montserrat block w-full rounded-md bg-white border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-950 sm:text-sm sm:leading-6 focus-visible:outline-none;
}

.buttonForm{
  @apply font-montserrat rounded-md bg-yellow px-6 py-3 text-sm font-semibold text-darkBlue shadow-sm hover:bg-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-none;
}

.colCenter{
  @apply flex flex-col items-center justify-center;
}


#stars, #stars2, #stars3 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: transparent;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  animation: animStar 50s linear infinite;
  box-shadow: 779px 1331px #ffffffb6, 324px 42px #ffffffb6, 303px 586px #ffffffb6,
    1312px 276px #ffffffb6, 451px 625px #ffffffb6, 521px 1931px #ffffffb6, 1087px 1871px #ffffffb6,
    36px 1546px #ffffffb6, 132px 934px #ffffffb6, 1698px 901px #ffffffb6, 1418px 664px #ffffffb6,
    1448px 1157px #ffffffb6, 1084px 232px #ffffffb6, 347px 1776px #ffffffb6, 1722px 243px #ffffffb6,
    1629px 835px #ffffffb6, 479px 969px #ffffffb6, 1231px 960px #ffffffb6, 586px 384px #ffffffb6,
    164px 527px #ffffffb6, 8px 646px #ffffffb6, 1150px 1126px #ffffffb6, 665px 1357px #ffffffb6,
    1556px 1982px #ffffffb6, 1260px 1961px #ffffffb6, 1675px 1741px #ffffffb6,
    1843px 1514px #ffffffb6, 718px 1628px #ffffffb6, 242px 1343px #ffffffb6, 1497px 1880px #ffffffb6,
    1364px 230px #ffffffb6, 1739px 1302px #ffffffb6, 636px 959px #ffffffb6, 304px 686px #ffffffb6,
    614px 751px #ffffffb6, 1935px 816px #ffffffb6, 1428px 60px #ffffffb6, 355px 335px #ffffffb6,
    1594px 158px #ffffffb6, 90px 60px #ffffffb6, 1553px 162px #ffffffb6, 1239px 1825px #ffffffb6,
    1945px 587px #ffffffb6, 749px 1785px #ffffffb6, 1987px 1172px #ffffffb6, 1301px 1237px #ffffffb6,
    1039px 342px #ffffffb6, 1585px 1481px #ffffffb6, 995px 1048px #ffffffb6, 524px 932px #ffffffb6,
    214px 413px #ffffffb6, 1701px 1300px #ffffffb6, 1037px 1613px #ffffffb6, 1871px 996px #ffffffb6,
    1360px 1635px #ffffffb6, 1110px 1313px #ffffffb6, 412px 1783px #ffffffb6, 1949px 177px #ffffffb6,
    903px 1854px #ffffffb6, 700px 1936px #ffffffb6, 378px 125px #ffffffb6, 308px 834px #ffffffb6,
    1118px 962px #ffffffb6, 1350px 1929px #ffffffb6, 781px 1811px #ffffffb6, 561px 137px #ffffffb6,
    757px 1148px #ffffffb6, 1670px 1979px #ffffffb6, 343px 739px #ffffffb6, 945px 795px #ffffffb6,
    576px 1903px #ffffffb6, 1078px 1436px #ffffffb6, 1583px 450px #ffffffb6, 1366px 474px #ffffffb6,
    297px 1873px #ffffffb6, 192px 162px #ffffffb6, 1624px 1633px #ffffffb6, 59px 453px #ffffffb6,
    82px 1872px #ffffffb6, 1933px 498px #ffffffb6, 1966px 1974px #ffffffb6, 1975px 1688px #ffffffb6,
    779px 314px #ffffffb6, 1858px 1543px #ffffffb6, 73px 1507px #ffffffb6, 1693px 975px #ffffffb6,
    1683px 108px #ffffffb6, 1768px 1654px #ffffffb6, 654px 14px #ffffffb6, 494px 171px #ffffffb6,
    1689px 1895px #ffffffb6, 1660px 263px #ffffffb6, 1031px 903px #ffffffb6, 1203px 1393px #ffffffb6,
    1333px 1421px #ffffffb6, 1113px 41px #ffffffb6, 1206px 1645px #ffffffb6, 1325px 1635px #ffffffb6,
    142px 388px #ffffffb6, 572px 215px #ffffffb6, 1535px 296px #ffffffb6, 1419px 407px #ffffffb6,
    1379px 1003px #ffffffb6, 329px 469px #ffffffb6, 1791px 1652px #ffffffb6, 935px 1802px #ffffffb6,
    1330px 1820px #ffffffb6, 421px 1933px #ffffffb6, 828px 365px #ffffffb6, 275px 316px #ffffffb6,
    707px 960px #ffffffb6, 1605px 1554px #ffffffb6, 625px 58px #ffffffb6, 717px 1697px #ffffffb6,
    1669px 246px #ffffffb6, 1925px 322px #ffffffb6, 1154px 1803px #ffffffb6, 1929px 295px #ffffffb6,
    1248px 240px #ffffffb6, 1045px 1755px #ffffffb6, 166px 942px #ffffffb6, 1888px 1773px #ffffffb6,
    678px 1963px #ffffffb6, 1370px 569px #ffffffb6, 1974px 1400px #ffffffb6, 1786px 460px #ffffffb6,
    51px 307px #ffffffb6, 784px 1400px #ffffffb6, 730px 1258px #ffffffb6, 1712px 393px #ffffffb6,
    416px 170px #ffffffb6, 1797px 1932px #ffffffb6, 572px 219px #ffffffb6, 1557px 1856px #ffffffb6,
    218px 8px #ffffffb6, 348px 1334px #ffffffb6, 469px 413px #ffffffb6, 385px 1738px #ffffffb6,
    1357px 1818px #ffffffb6, 240px 942px #ffffffb6, 248px 1847px #ffffffb6, 1535px 806px #ffffffb6,
    236px 1514px #ffffffb6, 1429px 1556px #ffffffb6, 73px 1633px #ffffffb6, 1398px 1121px #ffffffb6,
    671px 1301px #ffffffb6, 1404px 1663px #ffffffb6, 740px 1018px #ffffffb6, 1600px 377px #ffffffb6,
    785px 514px #ffffffb6, 112px 1084px #ffffffb6, 1915px 1887px #ffffffb6, 1463px 1848px #ffffffb6,
    687px 1115px #ffffffb6, 1268px 1768px #ffffffb6, 1729px 1425px #ffffffb6,
    1284px 1022px #ffffffb6, 801px 974px #ffffffb6, 1975px 1317px #ffffffb6, 1354px 834px #ffffffb6,
    1446px 1484px #ffffffb6, 1283px 1786px #ffffffb6, 11px 523px #ffffffb6, 1842px 236px #ffffffb6,
    1355px 654px #ffffffb6, 429px 7px #ffffffb6, 1033px 1128px #ffffffb6, 157px 297px #ffffffb6,
    545px 635px #ffffffb6, 52px 1080px #ffffffb6, 827px 1520px #ffffffb6, 1121px 490px #ffffffb6,
    9px 309px #ffffffb6, 1744px 1586px #ffffffb6, 1014px 417px #ffffffb6, 1534px 524px #ffffffb6,
    958px 552px #ffffffb6, 1403px 1496px #ffffffb6, 387px 703px #ffffffb6, 1522px 548px #ffffffb6,
    1355px 282px #ffffffb6, 1532px 601px #ffffffb6, 1838px 790px #ffffffb6, 290px 259px #ffffffb6,
    295px 598px #ffffffb6, 1601px 539px #ffffffb6, 1561px 1272px #ffffffb6, 34px 1922px #ffffffb6,
    1024px 543px #ffffffb6, 467px 369px #ffffffb6, 722px 333px #ffffffb6, 1976px 1255px #ffffffb6,
    766px 983px #ffffffb6, 1582px 1285px #ffffffb6, 12px 512px #ffffffb6, 617px 1410px #ffffffb6,
    682px 577px #ffffffb6, 1334px 1438px #ffffffb6, 439px 327px #ffffffb6, 1617px 1661px #ffffffb6,
    673px 129px #ffffffb6, 794px 941px #ffffffb6, 1386px 1902px #ffffffb6, 37px 1353px #ffffffb6,
    1467px 1353px #ffffffb6, 416px 18px #ffffffb6, 187px 344px #ffffffb6, 200px 1898px #ffffffb6,
    1491px 1619px #ffffffb6, 811px 347px #ffffffb6, 924px 1827px #ffffffb6, 945px 217px #ffffffb6,
    1735px 1228px #ffffffb6, 379px 1890px #ffffffb6, 79px 761px #ffffffb6, 825px 1837px #ffffffb6,
    1980px 1558px #ffffffb6, 1308px 1573px #ffffffb6, 1488px 1726px #ffffffb6,
    382px 1208px #ffffffb6, 522px 595px #ffffffb6, 1277px 1898px #ffffffb6, 354px 552px #ffffffb6,
    161px 1784px #ffffffb6, 614px 251px #ffffffb6, 526px 1576px #ffffffb6, 17px 212px #ffffffb6,
    179px 996px #ffffffb6, 467px 1208px #ffffffb6, 1944px 1838px #ffffffb6, 1140px 1093px #ffffffb6,
    858px 1007px #ffffffb6, 200px 1064px #ffffffb6, 423px 1964px #ffffffb6, 1945px 439px #ffffffb6,
    1377px 689px #ffffffb6, 1120px 1437px #ffffffb6, 1876px 668px #ffffffb6, 907px 1324px #ffffffb6,
    343px 1976px #ffffffb6, 1816px 1501px #ffffffb6, 1849px 177px #ffffffb6, 647px 91px #ffffffb6,
    1984px 1012px #ffffffb6, 1336px 1300px #ffffffb6, 128px 648px #ffffffb6, 305px 1060px #ffffffb6,
    1324px 826px #ffffffb6, 1263px 1314px #ffffffb6, 1801px 629px #ffffffb6, 1614px 1555px #ffffffb6,
    1634px 90px #ffffffb6, 1603px 452px #ffffffb6, 891px 1984px #ffffffb6, 1556px 1906px #ffffffb6,
    121px 68px #ffffffb6, 1676px 1714px #ffffffb6, 516px 936px #ffffffb6, 1947px 1492px #ffffffb6,
    1455px 1519px #ffffffb6, 45px 602px #ffffffb6, 205px 1039px #ffffffb6, 793px 172px #ffffffb6,
    1562px 1739px #ffffffb6, 1056px 110px #ffffffb6, 1512px 379px #ffffffb6, 1795px 1621px #ffffffb6,
    1848px 607px #ffffffb6, 262px 1719px #ffffffb6, 477px 991px #ffffffb6, 483px 883px #ffffffb6,
    1239px 1197px #ffffffb6, 1496px 647px #ffffffb6, 1649px 25px #ffffffb6, 1491px 1946px #ffffffb6,
    119px 996px #ffffffb6, 179px 1472px #ffffffb6, 1341px 808px #ffffffb6, 1565px 1700px #ffffffb6,
    407px 1544px #ffffffb6, 1754px 357px #ffffffb6, 1288px 981px #ffffffb6, 902px 1997px #ffffffb6,
    1755px 1668px #ffffffb6, 186px 877px #ffffffb6, 1202px 1882px #ffffffb6, 461px 1213px #ffffffb6,
    1400px 748px #ffffffb6, 1969px 1899px #ffffffb6, 809px 522px #ffffffb6, 514px 1219px #ffffffb6,
    374px 275px #ffffffb6, 938px 1973px #ffffffb6, 357px 552px #ffffffb6, 144px 1722px #ffffffb6,
    1572px 912px #ffffffb6, 402px 1858px #ffffffb6, 1544px 1195px #ffffffb6, 667px 1257px #ffffffb6,
    727px 1496px #ffffffb6, 993px 232px #ffffffb6, 1772px 313px #ffffffb6, 1040px 1590px #ffffffb6,
    1204px 1973px #ffffffb6, 1268px 79px #ffffffb6, 1555px 1048px #ffffffb6, 986px 1707px #ffffffb6,
    978px 1710px #ffffffb6, 713px 360px #ffffffb6, 407px 863px #ffffffb6, 461px 736px #ffffffb6,
    284px 1608px #ffffffb6, 103px 430px #ffffffb6, 1283px 1319px #ffffffb6, 977px 1186px #ffffffb6,
    1966px 1516px #ffffffb6, 1287px 1129px #ffffffb6, 70px 1098px #ffffffb6, 1189px 889px #ffffffb6,
    1126px 1734px #ffffffb6, 309px 1292px #ffffffb6, 879px 764px #ffffffb6, 65px 473px #ffffffb6,
    1003px 1959px #ffffffb6, 658px 791px #ffffffb6, 402px 1576px #ffffffb6, 35px 622px #ffffffb6,
    529px 1589px #ffffffb6, 164px 666px #ffffffb6, 1876px 1290px #ffffffb6, 1541px 526px #ffffffb6,
    270px 1297px #ffffffb6, 440px 865px #ffffffb6, 1500px 802px #ffffffb6, 182px 1754px #ffffffb6,
    1264px 892px #ffffffb6, 272px 1249px #ffffffb6, 1289px 1535px #ffffffb6, 190px 1646px #ffffffb6,
    955px 242px #ffffffb6, 1456px 1597px #ffffffb6, 1727px 1983px #ffffffb6, 635px 801px #ffffffb6,
    226px 455px #ffffffb6, 1396px 1710px #ffffffb6, 849px 1863px #ffffffb6, 237px 1264px #ffffffb6,
    839px 140px #ffffffb6, 1122px 735px #ffffffb6, 1280px 15px #ffffffb6, 1318px 242px #ffffffb6,
    1819px 1148px #ffffffb6, 333px 1392px #ffffffb6, 1949px 553px #ffffffb6, 1878px 1332px #ffffffb6,
    467px 548px #ffffffb6, 1812px 1082px #ffffffb6, 1067px 193px #ffffffb6, 243px 156px #ffffffb6,
    483px 1616px #ffffffb6, 1714px 933px #ffffffb6, 759px 1800px #ffffffb6, 1822px 995px #ffffffb6,
    1877px 572px #ffffffb6, 581px 1084px #ffffffb6, 107px 732px #ffffffb6, 642px 1837px #ffffffb6,
    166px 1493px #ffffffb6, 1555px 198px #ffffffb6, 819px 307px #ffffffb6, 947px 345px #ffffffb6,
    827px 224px #ffffffb6, 927px 1394px #ffffffb6, 540px 467px #ffffffb6, 1093px 405px #ffffffb6,
    1140px 927px #ffffffb6, 130px 529px #ffffffb6, 33px 1980px #ffffffb6, 1147px 1663px #ffffffb6,
    1616px 1436px #ffffffb6, 528px 710px #ffffffb6, 798px 1100px #ffffffb6, 505px 1480px #ffffffb6,
    899px 641px #ffffffb6, 1909px 1949px #ffffffb6, 1311px 964px #ffffffb6, 979px 1301px #ffffffb6,
    1393px 969px #ffffffb6, 1793px 1886px #ffffffb6, 292px 357px #ffffffb6, 1196px 1718px #ffffffb6,
    1290px 1994px #ffffffb6, 537px 1973px #ffffffb6, 1181px 1674px #ffffffb6,
    1740px 1566px #ffffffb6, 1307px 265px #ffffffb6, 922px 522px #ffffffb6, 1892px 472px #ffffffb6,
    384px 1746px #ffffffb6, 392px 1098px #ffffffb6, 647px 548px #ffffffb6, 390px 1498px #ffffffb6,
    1246px 138px #ffffffb6, 730px 876px #ffffffb6, 192px 1472px #ffffffb6, 1790px 1789px #ffffffb6,
    928px 311px #ffffffb6, 1253px 1647px #ffffffb6, 747px 1921px #ffffffb6, 1561px 1025px #ffffffb6,
    1533px 1292px #ffffffb6, 1985px 195px #ffffffb6, 728px 729px #ffffffb6, 1712px 1936px #ffffffb6,
    512px 1717px #ffffffb6, 1528px 483px #ffffffb6, 313px 1642px #ffffffb6, 281px 1849px #ffffffb6,
    1212px 799px #ffffffb6, 435px 1191px #ffffffb6, 1422px 611px #ffffffb6, 1718px 1964px #ffffffb6,
    411px 944px #ffffffb6, 210px 636px #ffffffb6, 1502px 1295px #ffffffb6, 1434px 349px #ffffffb6,
    769px 60px #ffffffb6, 747px 1053px #ffffffb6, 789px 504px #ffffffb6, 1436px 1264px #ffffffb6,
    1893px 1225px #ffffffb6, 1394px 1788px #ffffffb6, 1108px 1317px #ffffffb6,
    1673px 1395px #ffffffb6, 854px 1010px #ffffffb6, 1705px 80px #ffffffb6, 1858px 148px #ffffffb6,
    1729px 344px #ffffffb6, 1388px 664px #ffffffb6, 895px 406px #ffffffb6, 1479px 157px #ffffffb6,
    1441px 1157px #ffffffb6, 552px 1900px #ffffffb6, 516px 364px #ffffffb6, 1647px 189px #ffffffb6,
    1427px 1071px #ffffffb6, 785px 729px #ffffffb6, 1080px 1710px #ffffffb6, 504px 204px #ffffffb6,
    1177px 1622px #ffffffb6, 657px 34px #ffffffb6, 1296px 1099px #ffffffb6, 248px 180px #ffffffb6,
    1212px 1568px #ffffffb6, 667px 1562px #ffffffb6, 695px 841px #ffffffb6, 1608px 1247px #ffffffb6,
    751px 882px #ffffffb6, 87px 167px #ffffffb6, 607px 1368px #ffffffb6, 1363px 1203px #ffffffb6,
    1836px 317px #ffffffb6, 1668px 1703px #ffffffb6, 830px 1154px #ffffffb6, 1721px 1398px #ffffffb6,
    1601px 1280px #ffffffb6, 976px 874px #ffffffb6, 1743px 254px #ffffffb6, 1020px 1815px #ffffffb6,
    1670px 1766px #ffffffb6, 1890px 735px #ffffffb6, 1379px 136px #ffffffb6, 1864px 695px #ffffffb6,
    206px 965px #ffffffb6, 1404px 1932px #ffffffb6, 1923px 1360px #ffffffb6, 247px 682px #ffffffb6,
    519px 1708px #ffffffb6, 645px 750px #ffffffb6, 1164px 1204px #ffffffb6, 834px 323px #ffffffb6,
    172px 1350px #ffffffb6, 213px 972px #ffffffb6, 1837px 190px #ffffffb6, 285px 1806px #ffffffb6,
    1047px 1299px #ffffffb6, 1548px 825px #ffffffb6, 1730px 324px #ffffffb6, 1346px 1909px #ffffffb6,
    772px 270px #ffffffb6, 345px 1190px #ffffffb6, 478px 1433px #ffffffb6, 1479px 25px #ffffffb6,
    1994px 1830px #ffffffb6, 1744px 732px #ffffffb6, 20px 1635px #ffffffb6, 690px 1795px #ffffffb6,
    1594px 569px #ffffffb6, 579px 245px #ffffffb6, 1398px 733px #ffffffb6, 408px 1352px #ffffffb6,
    1774px 120px #ffffffb6, 1152px 1370px #ffffffb6, 1698px 1810px #ffffffb6, 710px 1450px #ffffffb6,
    665px 286px #ffffffb6, 493px 1720px #ffffffb6, 786px 5px #ffffffb6, 637px 1140px #ffffffb6,
    764px 324px #ffffffb6, 927px 310px #ffffffb6, 938px 1424px #ffffffb6, 1884px 744px #ffffffb6,
    913px 462px #ffffffb6, 1831px 1936px #ffffffb6, 1527px 249px #ffffffb6, 36px 1381px #ffffffb6,
    1597px 581px #ffffffb6, 1530px 355px #ffffffb6, 949px 459px #ffffffb6, 799px 828px #ffffffb6,
    242px 1471px #ffffffb6, 654px 797px #ffffffb6, 796px 594px #ffffffb6, 1365px 678px #ffffffb6,
    752px 23px #ffffffb6, 1630px 541px #ffffffb6, 982px 72px #ffffffb6, 1733px 1831px #ffffffb6,
    21px 412px #ffffffb6, 775px 998px #ffffffb6, 335px 1945px #ffffffb6, 264px 583px #ffffffb6,
    158px 1311px #ffffffb6, 528px 164px #ffffffb6, 1978px 574px #ffffffb6, 717px 1203px #ffffffb6,
    734px 1591px #ffffffb6, 1555px 820px #ffffffb6, 16px 1943px #ffffffb6, 1625px 1177px #ffffffb6,
    1236px 690px #ffffffb6, 1585px 1590px #ffffffb6, 1737px 1728px #ffffffb6, 721px 698px #ffffffb6,
    1804px 1186px #ffffffb6, 166px 980px #ffffffb6, 1850px 230px #ffffffb6, 330px 1712px #ffffffb6,
    95px 797px #ffffffb6, 1948px 1078px #ffffffb6, 469px 939px #ffffffb6, 1269px 1899px #ffffffb6,
    955px 1220px #ffffffb6, 1137px 1075px #ffffffb6, 312px 1293px #ffffffb6, 986px 1762px #ffffffb6,
    1103px 1238px #ffffffb6, 428px 1993px #ffffffb6, 355px 570px #ffffffb6, 977px 1836px #ffffffb6,
    1395px 1092px #ffffffb6, 276px 913px #ffffffb6, 1743px 656px #ffffffb6, 773px 502px #ffffffb6,
    1686px 1322px #ffffffb6, 1516px 1945px #ffffffb6, 1334px 501px #ffffffb6, 266px 156px #ffffffb6,
    455px 655px #ffffffb6, 798px 72px #ffffffb6, 1059px 1259px #ffffffb6, 1402px 1687px #ffffffb6,
    236px 1329px #ffffffb6, 1455px 786px #ffffffb6, 146px 1228px #ffffffb6, 1851px 823px #ffffffb6,
    1062px 100px #ffffffb6, 1220px 953px #ffffffb6, 20px 1826px #ffffffb6, 36px 1063px #ffffffb6,
    1525px 338px #ffffffb6, 790px 1521px #ffffffb6, 741px 1099px #ffffffb6, 288px 1489px #ffffffb6,
    700px 1060px #ffffffb6, 390px 1071px #ffffffb6, 411px 1036px #ffffffb6, 1853px 1072px #ffffffb6,
    1446px 1085px #ffffffb6, 1164px 874px #ffffffb6, 924px 925px #ffffffb6, 291px 271px #ffffffb6,
    1257px 1964px #ffffffb6, 1580px 1352px #ffffffb6, 1507px 1216px #ffffffb6, 211px 956px #ffffffb6,
    985px 1195px #ffffffb6, 975px 1640px #ffffffb6, 518px 101px #ffffffb6, 663px 1395px #ffffffb6,
    914px 532px #ffffffb6, 145px 1320px #ffffffb6, 69px 1397px #ffffffb6, 982px 523px #ffffffb6,
    257px 725px #ffffffb6, 1599px 831px #ffffffb6, 1636px 1513px #ffffffb6, 1250px 1158px #ffffffb6,
    1132px 604px #ffffffb6, 183px 102px #ffffffb6, 1057px 318px #ffffffb6, 1247px 1835px #ffffffb6,
    1983px 1110px #ffffffb6, 1077px 1455px #ffffffb6, 921px 1770px #ffffffb6, 806px 1350px #ffffffb6,
    1938px 1992px #ffffffb6, 855px 1260px #ffffffb6, 902px 1345px #ffffffb6, 658px 1908px #ffffffb6,
    1845px 679px #ffffffb6, 712px 1482px #ffffffb6, 595px 950px #ffffffb6, 1784px 1992px #ffffffb6,
    1847px 1785px #ffffffb6, 691px 1004px #ffffffb6, 175px 1179px #ffffffb6, 1666px 1911px #ffffffb6,
    41px 61px #ffffffb6, 971px 1080px #ffffffb6, 1830px 1450px #ffffffb6, 1351px 1518px #ffffffb6,
    1257px 99px #ffffffb6, 1395px 1498px #ffffffb6, 1117px 252px #ffffffb6, 1779px 597px #ffffffb6,
    1346px 729px #ffffffb6, 1108px 1144px #ffffffb6, 402px 691px #ffffffb6, 72px 496px #ffffffb6,
    1673px 1604px #ffffffb6, 1497px 974px #ffffffb6, 1865px 1664px #ffffffb6, 88px 806px #ffffffb6,
    918px 77px #ffffffb6, 244px 1118px #ffffffb6, 256px 1820px #ffffffb6, 1851px 1840px #ffffffb6,
    605px 1851px #ffffffb6, 634px 383px #ffffffb6, 865px 37px #ffffffb6, 943px 1024px #ffffffb6,
    1951px 177px #ffffffb6, 1097px 523px #ffffffb6, 985px 1700px #ffffffb6, 1243px 122px #ffffffb6,
    768px 1070px #ffffffb6, 468px 194px #ffffffb6, 320px 1867px #ffffffb6, 1850px 185px #ffffffb6,
    380px 1616px #ffffffb6, 468px 1294px #ffffffb6, 1122px 1743px #ffffffb6, 884px 299px #ffffffb6,
    1300px 1917px #ffffffb6, 1860px 396px #ffffffb6, 1270px 990px #ffffffb6, 529px 733px #ffffffb6,
    1975px 1347px #ffffffb6, 1885px 685px #ffffffb6, 226px 506px #ffffffb6, 651px 878px #ffffffb6,
    1323px 680px #ffffffb6, 1284px 680px #ffffffb6, 238px 1967px #ffffffb6, 911px 174px #ffffffb6,
    1111px 521px #ffffffb6, 1150px 85px #ffffffb6, 794px 502px #ffffffb6, 484px 1856px #ffffffb6,
    1809px 368px #ffffffb6, 112px 953px #ffffffb6, 590px 1009px #ffffffb6, 1655px 311px #ffffffb6,
    100px 1026px #ffffffb6, 1803px 352px #ffffffb6, 865px 306px #ffffffb6, 1077px 1019px #ffffffb6,
    1335px 872px #ffffffb6, 1647px 1298px #ffffffb6, 1233px 1387px #ffffffb6, 698px 1036px #ffffffb6,
    659px 1860px #ffffffb6, 388px 1412px #ffffffb6, 1212px 458px #ffffffb6, 755px 1468px #ffffffb6,
    696px 1654px #ffffffb6, 1144px 60px #ffffffb6;
}

#stars:after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 779px 1331px #ffffffb6, 324px 42px #ffffffb6, 303px 586px #ffffffb6,
    1312px 276px #ffffffb6, 451px 625px #ffffffb6, 521px 1931px #ffffffb6, 1087px 1871px #ffffffb6,
    36px 1546px #ffffffb6, 132px 934px #ffffffb6, 1698px 901px #ffffffb6, 1418px 664px #ffffffb6,
    1448px 1157px #ffffffb6, 1084px 232px #ffffffb6, 347px 1776px #ffffffb6, 1722px 243px #ffffffb6,
    1629px 835px #ffffffb6, 479px 969px #ffffffb6, 1231px 960px #ffffffb6, 586px 384px #ffffffb6,
    164px 527px #ffffffb6, 8px 646px #ffffffb6, 1150px 1126px #ffffffb6, 665px 1357px #ffffffb6,
    1556px 1982px #ffffffb6, 1260px 1961px #ffffffb6, 1675px 1741px #ffffffb6,
    1843px 1514px #ffffffb6, 718px 1628px #ffffffb6, 242px 1343px #ffffffb6, 1497px 1880px #ffffffb6,
    1364px 230px #ffffffb6, 1739px 1302px #ffffffb6, 636px 959px #ffffffb6, 304px 686px #ffffffb6,
    614px 751px #ffffffb6, 1935px 816px #ffffffb6, 1428px 60px #ffffffb6, 355px 335px #ffffffb6,
    1594px 158px #ffffffb6, 90px 60px #ffffffb6, 1553px 162px #ffffffb6, 1239px 1825px #ffffffb6,
    1945px 587px #ffffffb6, 749px 1785px #ffffffb6, 1987px 1172px #ffffffb6, 1301px 1237px #ffffffb6,
    1039px 342px #ffffffb6, 1585px 1481px #ffffffb6, 995px 1048px #ffffffb6, 524px 932px #ffffffb6,
    214px 413px #ffffffb6, 1701px 1300px #ffffffb6, 1037px 1613px #ffffffb6, 1871px 996px #ffffffb6,
    1360px 1635px #ffffffb6, 1110px 1313px #ffffffb6, 412px 1783px #ffffffb6, 1949px 177px #ffffffb6,
    903px 1854px #ffffffb6, 700px 1936px #ffffffb6, 378px 125px #ffffffb6, 308px 834px #ffffffb6,
    1118px 962px #ffffffb6, 1350px 1929px #ffffffb6, 781px 1811px #ffffffb6, 561px 137px #ffffffb6,
    757px 1148px #ffffffb6, 1670px 1979px #ffffffb6, 343px 739px #ffffffb6, 945px 795px #ffffffb6,
    576px 1903px #ffffffb6, 1078px 1436px #ffffffb6, 1583px 450px #ffffffb6, 1366px 474px #ffffffb6,
    297px 1873px #ffffffb6, 192px 162px #ffffffb6, 1624px 1633px #ffffffb6, 59px 453px #ffffffb6,
    82px 1872px #ffffffb6, 1933px 498px #ffffffb6, 1966px 1974px #ffffffb6, 1975px 1688px #ffffffb6,
    779px 314px #ffffffb6, 1858px 1543px #ffffffb6, 73px 1507px #ffffffb6, 1693px 975px #ffffffb6,
    1683px 108px #ffffffb6, 1768px 1654px #ffffffb6, 654px 14px #ffffffb6, 494px 171px #ffffffb6,
    1689px 1895px #ffffffb6, 1660px 263px #ffffffb6, 1031px 903px #ffffffb6, 1203px 1393px #ffffffb6,
    1333px 1421px #ffffffb6, 1113px 41px #ffffffb6, 1206px 1645px #ffffffb6, 1325px 1635px #ffffffb6,
    142px 388px #ffffffb6, 572px 215px #ffffffb6, 1535px 296px #ffffffb6, 1419px 407px #ffffffb6,
    1379px 1003px #ffffffb6, 329px 469px #ffffffb6, 1791px 1652px #ffffffb6, 935px 1802px #ffffffb6,
    1330px 1820px #ffffffb6, 421px 1933px #ffffffb6, 828px 365px #ffffffb6, 275px 316px #ffffffb6,
    707px 960px #ffffffb6, 1605px 1554px #ffffffb6, 625px 58px #ffffffb6, 717px 1697px #ffffffb6,
    1669px 246px #ffffffb6, 1925px 322px #ffffffb6, 1154px 1803px #ffffffb6, 1929px 295px #ffffffb6,
    1248px 240px #ffffffb6, 1045px 1755px #ffffffb6, 166px 942px #ffffffb6, 1888px 1773px #ffffffb6,
    678px 1963px #ffffffb6, 1370px 569px #ffffffb6, 1974px 1400px #ffffffb6, 1786px 460px #ffffffb6,
    51px 307px #ffffffb6, 784px 1400px #ffffffb6, 730px 1258px #ffffffb6, 1712px 393px #ffffffb6,
    416px 170px #ffffffb6, 1797px 1932px #ffffffb6, 572px 219px #ffffffb6, 1557px 1856px #ffffffb6,
    218px 8px #ffffffb6, 348px 1334px #ffffffb6, 469px 413px #ffffffb6, 385px 1738px #ffffffb6,
    1357px 1818px #ffffffb6, 240px 942px #ffffffb6, 248px 1847px #ffffffb6, 1535px 806px #ffffffb6,
    236px 1514px #ffffffb6, 1429px 1556px #ffffffb6, 73px 1633px #ffffffb6, 1398px 1121px #ffffffb6,
    671px 1301px #ffffffb6, 1404px 1663px #ffffffb6, 740px 1018px #ffffffb6, 1600px 377px #ffffffb6,
    785px 514px #ffffffb6, 112px 1084px #ffffffb6, 1915px 1887px #ffffffb6, 1463px 1848px #ffffffb6,
    687px 1115px #ffffffb6, 1268px 1768px #ffffffb6, 1729px 1425px #ffffffb6,
    1284px 1022px #ffffffb6, 801px 974px #ffffffb6, 1975px 1317px #ffffffb6, 1354px 834px #ffffffb6,
    1446px 1484px #ffffffb6, 1283px 1786px #ffffffb6, 11px 523px #ffffffb6, 1842px 236px #ffffffb6,
    1355px 654px #ffffffb6, 429px 7px #ffffffb6, 1033px 1128px #ffffffb6, 157px 297px #ffffffb6,
    545px 635px #ffffffb6, 52px 1080px #ffffffb6, 827px 1520px #ffffffb6, 1121px 490px #ffffffb6,
    9px 309px #ffffffb6, 1744px 1586px #ffffffb6, 1014px 417px #ffffffb6, 1534px 524px #ffffffb6,
    958px 552px #ffffffb6, 1403px 1496px #ffffffb6, 387px 703px #ffffffb6, 1522px 548px #ffffffb6,
    1355px 282px #ffffffb6, 1532px 601px #ffffffb6, 1838px 790px #ffffffb6, 290px 259px #ffffffb6,
    295px 598px #ffffffb6, 1601px 539px #ffffffb6, 1561px 1272px #ffffffb6, 34px 1922px #ffffffb6,
    1024px 543px #ffffffb6, 467px 369px #ffffffb6, 722px 333px #ffffffb6, 1976px 1255px #ffffffb6,
    766px 983px #ffffffb6, 1582px 1285px #ffffffb6, 12px 512px #ffffffb6, 617px 1410px #ffffffb6,
    682px 577px #ffffffb6, 1334px 1438px #ffffffb6, 439px 327px #ffffffb6, 1617px 1661px #ffffffb6,
    673px 129px #ffffffb6, 794px 941px #ffffffb6, 1386px 1902px #ffffffb6, 37px 1353px #ffffffb6,
    1467px 1353px #ffffffb6, 416px 18px #ffffffb6, 187px 344px #ffffffb6, 200px 1898px #ffffffb6,
    1491px 1619px #ffffffb6, 811px 347px #ffffffb6, 924px 1827px #ffffffb6, 945px 217px #ffffffb6,
    1735px 1228px #ffffffb6, 379px 1890px #ffffffb6, 79px 761px #ffffffb6, 825px 1837px #ffffffb6,
    1980px 1558px #ffffffb6, 1308px 1573px #ffffffb6, 1488px 1726px #ffffffb6,
    382px 1208px #ffffffb6, 522px 595px #ffffffb6, 1277px 1898px #ffffffb6, 354px 552px #ffffffb6,
    161px 1784px #ffffffb6, 614px 251px #ffffffb6, 526px 1576px #ffffffb6, 17px 212px #ffffffb6,
    179px 996px #ffffffb6, 467px 1208px #ffffffb6, 1944px 1838px #ffffffb6, 1140px 1093px #ffffffb6,
    858px 1007px #ffffffb6, 200px 1064px #ffffffb6, 423px 1964px #ffffffb6, 1945px 439px #ffffffb6,
    1377px 689px #ffffffb6, 1120px 1437px #ffffffb6, 1876px 668px #ffffffb6, 907px 1324px #ffffffb6,
    343px 1976px #ffffffb6, 1816px 1501px #ffffffb6, 1849px 177px #ffffffb6, 647px 91px #ffffffb6,
    1984px 1012px #ffffffb6, 1336px 1300px #ffffffb6, 128px 648px #ffffffb6, 305px 1060px #ffffffb6,
    1324px 826px #ffffffb6, 1263px 1314px #ffffffb6, 1801px 629px #ffffffb6, 1614px 1555px #ffffffb6,
    1634px 90px #ffffffb6, 1603px 452px #ffffffb6, 891px 1984px #ffffffb6, 1556px 1906px #ffffffb6,
    121px 68px #ffffffb6, 1676px 1714px #ffffffb6, 516px 936px #ffffffb6, 1947px 1492px #ffffffb6,
    1455px 1519px #ffffffb6, 45px 602px #ffffffb6, 205px 1039px #ffffffb6, 793px 172px #ffffffb6,
    1562px 1739px #ffffffb6, 1056px 110px #ffffffb6, 1512px 379px #ffffffb6, 1795px 1621px #ffffffb6,
    1848px 607px #ffffffb6, 262px 1719px #ffffffb6, 477px 991px #ffffffb6, 483px 883px #ffffffb6,
    1239px 1197px #ffffffb6, 1496px 647px #ffffffb6, 1649px 25px #ffffffb6, 1491px 1946px #ffffffb6,
    119px 996px #ffffffb6, 179px 1472px #ffffffb6, 1341px 808px #ffffffb6, 1565px 1700px #ffffffb6,
    407px 1544px #ffffffb6, 1754px 357px #ffffffb6, 1288px 981px #ffffffb6, 902px 1997px #ffffffb6,
    1755px 1668px #ffffffb6, 186px 877px #ffffffb6, 1202px 1882px #ffffffb6, 461px 1213px #ffffffb6,
    1400px 748px #ffffffb6, 1969px 1899px #ffffffb6, 809px 522px #ffffffb6, 514px 1219px #ffffffb6,
    374px 275px #ffffffb6, 938px 1973px #ffffffb6, 357px 552px #ffffffb6, 144px 1722px #ffffffb6,
    1572px 912px #ffffffb6, 402px 1858px #ffffffb6, 1544px 1195px #ffffffb6, 667px 1257px #ffffffb6,
    727px 1496px #ffffffb6, 993px 232px #ffffffb6, 1772px 313px #ffffffb6, 1040px 1590px #ffffffb6,
    1204px 1973px #ffffffb6, 1268px 79px #ffffffb6, 1555px 1048px #ffffffb6, 986px 1707px #ffffffb6,
    978px 1710px #ffffffb6, 713px 360px #ffffffb6, 407px 863px #ffffffb6, 461px 736px #ffffffb6,
    284px 1608px #ffffffb6, 103px 430px #ffffffb6, 1283px 1319px #ffffffb6, 977px 1186px #ffffffb6,
    1966px 1516px #ffffffb6, 1287px 1129px #ffffffb6, 70px 1098px #ffffffb6, 1189px 889px #ffffffb6,
    1126px 1734px #ffffffb6, 309px 1292px #ffffffb6, 879px 764px #ffffffb6, 65px 473px #ffffffb6,
    1003px 1959px #ffffffb6, 658px 791px #ffffffb6, 402px 1576px #ffffffb6, 35px 622px #ffffffb6,
    529px 1589px #ffffffb6, 164px 666px #ffffffb6, 1876px 1290px #ffffffb6, 1541px 526px #ffffffb6,
    270px 1297px #ffffffb6, 440px 865px #ffffffb6, 1500px 802px #ffffffb6, 182px 1754px #ffffffb6,
    1264px 892px #ffffffb6, 272px 1249px #ffffffb6, 1289px 1535px #ffffffb6, 190px 1646px #ffffffb6,
    955px 242px #ffffffb6, 1456px 1597px #ffffffb6, 1727px 1983px #ffffffb6, 635px 801px #ffffffb6,
    226px 455px #ffffffb6, 1396px 1710px #ffffffb6, 849px 1863px #ffffffb6, 237px 1264px #ffffffb6,
    839px 140px #ffffffb6, 1122px 735px #ffffffb6, 1280px 15px #ffffffb6, 1318px 242px #ffffffb6,
    1819px 1148px #ffffffb6, 333px 1392px #ffffffb6, 1949px 553px #ffffffb6, 1878px 1332px #ffffffb6,
    467px 548px #ffffffb6, 1812px 1082px #ffffffb6, 1067px 193px #ffffffb6, 243px 156px #ffffffb6,
    483px 1616px #ffffffb6, 1714px 933px #ffffffb6, 759px 1800px #ffffffb6, 1822px 995px #ffffffb6,
    1877px 572px #ffffffb6, 581px 1084px #ffffffb6, 107px 732px #ffffffb6, 642px 1837px #ffffffb6,
    166px 1493px #ffffffb6, 1555px 198px #ffffffb6, 819px 307px #ffffffb6, 947px 345px #ffffffb6,
    827px 224px #ffffffb6, 927px 1394px #ffffffb6, 540px 467px #ffffffb6, 1093px 405px #ffffffb6,
    1140px 927px #ffffffb6, 130px 529px #ffffffb6, 33px 1980px #ffffffb6, 1147px 1663px #ffffffb6,
    1616px 1436px #ffffffb6, 528px 710px #ffffffb6, 798px 1100px #ffffffb6, 505px 1480px #ffffffb6,
    899px 641px #ffffffb6, 1909px 1949px #ffffffb6, 1311px 964px #ffffffb6, 979px 1301px #ffffffb6,
    1393px 969px #ffffffb6, 1793px 1886px #ffffffb6, 292px 357px #ffffffb6, 1196px 1718px #ffffffb6,
    1290px 1994px #ffffffb6, 537px 1973px #ffffffb6, 1181px 1674px #ffffffb6,
    1740px 1566px #ffffffb6, 1307px 265px #ffffffb6, 922px 522px #ffffffb6, 1892px 472px #ffffffb6,
    384px 1746px #ffffffb6, 392px 1098px #ffffffb6, 647px 548px #ffffffb6, 390px 1498px #ffffffb6,
    1246px 138px #ffffffb6, 730px 876px #ffffffb6, 192px 1472px #ffffffb6, 1790px 1789px #ffffffb6,
    928px 311px #ffffffb6, 1253px 1647px #ffffffb6, 747px 1921px #ffffffb6, 1561px 1025px #ffffffb6,
    1533px 1292px #ffffffb6, 1985px 195px #ffffffb6, 728px 729px #ffffffb6, 1712px 1936px #ffffffb6,
    512px 1717px #ffffffb6, 1528px 483px #ffffffb6, 313px 1642px #ffffffb6, 281px 1849px #ffffffb6,
    1212px 799px #ffffffb6, 435px 1191px #ffffffb6, 1422px 611px #ffffffb6, 1718px 1964px #ffffffb6,
    411px 944px #ffffffb6, 210px 636px #ffffffb6, 1502px 1295px #ffffffb6, 1434px 349px #ffffffb6,
    769px 60px #ffffffb6, 747px 1053px #ffffffb6, 789px 504px #ffffffb6, 1436px 1264px #ffffffb6,
    1893px 1225px #ffffffb6, 1394px 1788px #ffffffb6, 1108px 1317px #ffffffb6,
    1673px 1395px #ffffffb6, 854px 1010px #ffffffb6, 1705px 80px #ffffffb6, 1858px 148px #ffffffb6,
    1729px 344px #ffffffb6, 1388px 664px #ffffffb6, 895px 406px #ffffffb6, 1479px 157px #ffffffb6,
    1441px 1157px #ffffffb6, 552px 1900px #ffffffb6, 516px 364px #ffffffb6, 1647px 189px #ffffffb6,
    1427px 1071px #ffffffb6, 785px 729px #ffffffb6, 1080px 1710px #ffffffb6, 504px 204px #ffffffb6,
    1177px 1622px #ffffffb6, 657px 34px #ffffffb6, 1296px 1099px #ffffffb6, 248px 180px #ffffffb6,
    1212px 1568px #ffffffb6, 667px 1562px #ffffffb6, 695px 841px #ffffffb6, 1608px 1247px #ffffffb6,
    751px 882px #ffffffb6, 87px 167px #ffffffb6, 607px 1368px #ffffffb6, 1363px 1203px #ffffffb6,
    1836px 317px #ffffffb6, 1668px 1703px #ffffffb6, 830px 1154px #ffffffb6, 1721px 1398px #ffffffb6,
    1601px 1280px #ffffffb6, 976px 874px #ffffffb6, 1743px 254px #ffffffb6, 1020px 1815px #ffffffb6,
    1670px 1766px #ffffffb6, 1890px 735px #ffffffb6, 1379px 136px #ffffffb6, 1864px 695px #ffffffb6,
    206px 965px #ffffffb6, 1404px 1932px #ffffffb6, 1923px 1360px #ffffffb6, 247px 682px #ffffffb6,
    519px 1708px #ffffffb6, 645px 750px #ffffffb6, 1164px 1204px #ffffffb6, 834px 323px #ffffffb6,
    172px 1350px #ffffffb6, 213px 972px #ffffffb6, 1837px 190px #ffffffb6, 285px 1806px #ffffffb6,
    1047px 1299px #ffffffb6, 1548px 825px #ffffffb6, 1730px 324px #ffffffb6, 1346px 1909px #ffffffb6,
    772px 270px #ffffffb6, 345px 1190px #ffffffb6, 478px 1433px #ffffffb6, 1479px 25px #ffffffb6,
    1994px 1830px #ffffffb6, 1744px 732px #ffffffb6, 20px 1635px #ffffffb6, 690px 1795px #ffffffb6,
    1594px 569px #ffffffb6, 579px 245px #ffffffb6, 1398px 733px #ffffffb6, 408px 1352px #ffffffb6,
    1774px 120px #ffffffb6, 1152px 1370px #ffffffb6, 1698px 1810px #ffffffb6, 710px 1450px #ffffffb6,
    665px 286px #ffffffb6, 493px 1720px #ffffffb6, 786px 5px #ffffffb6, 637px 1140px #ffffffb6,
    764px 324px #ffffffb6, 927px 310px #ffffffb6, 938px 1424px #ffffffb6, 1884px 744px #ffffffb6,
    913px 462px #ffffffb6, 1831px 1936px #ffffffb6, 1527px 249px #ffffffb6, 36px 1381px #ffffffb6,
    1597px 581px #ffffffb6, 1530px 355px #ffffffb6, 949px 459px #ffffffb6, 799px 828px #ffffffb6,
    242px 1471px #ffffffb6, 654px 797px #ffffffb6, 796px 594px #ffffffb6, 1365px 678px #ffffffb6,
    752px 23px #ffffffb6, 1630px 541px #ffffffb6, 982px 72px #ffffffb6, 1733px 1831px #ffffffb6,
    21px 412px #ffffffb6, 775px 998px #ffffffb6, 335px 1945px #ffffffb6, 264px 583px #ffffffb6,
    158px 1311px #ffffffb6, 528px 164px #ffffffb6, 1978px 574px #ffffffb6, 717px 1203px #ffffffb6,
    734px 1591px #ffffffb6, 1555px 820px #ffffffb6, 16px 1943px #ffffffb6, 1625px 1177px #ffffffb6,
    1236px 690px #ffffffb6, 1585px 1590px #ffffffb6, 1737px 1728px #ffffffb6, 721px 698px #ffffffb6,
    1804px 1186px #ffffffb6, 166px 980px #ffffffb6, 1850px 230px #ffffffb6, 330px 1712px #ffffffb6,
    95px 797px #ffffffb6, 1948px 1078px #ffffffb6, 469px 939px #ffffffb6, 1269px 1899px #ffffffb6,
    955px 1220px #ffffffb6, 1137px 1075px #ffffffb6, 312px 1293px #ffffffb6, 986px 1762px #ffffffb6,
    1103px 1238px #ffffffb6, 428px 1993px #ffffffb6, 355px 570px #ffffffb6, 977px 1836px #ffffffb6,
    1395px 1092px #ffffffb6, 276px 913px #ffffffb6, 1743px 656px #ffffffb6, 773px 502px #ffffffb6,
    1686px 1322px #ffffffb6, 1516px 1945px #ffffffb6, 1334px 501px #ffffffb6, 266px 156px #ffffffb6,
    455px 655px #ffffffb6, 798px 72px #ffffffb6, 1059px 1259px #ffffffb6, 1402px 1687px #ffffffb6,
    236px 1329px #ffffffb6, 1455px 786px #ffffffb6, 146px 1228px #ffffffb6, 1851px 823px #ffffffb6,
    1062px 100px #ffffffb6, 1220px 953px #ffffffb6, 20px 1826px #ffffffb6, 36px 1063px #ffffffb6,
    1525px 338px #ffffffb6, 790px 1521px #ffffffb6, 741px 1099px #ffffffb6, 288px 1489px #ffffffb6,
    700px 1060px #ffffffb6, 390px 1071px #ffffffb6, 411px 1036px #ffffffb6, 1853px 1072px #ffffffb6,
    1446px 1085px #ffffffb6, 1164px 874px #ffffffb6, 924px 925px #ffffffb6, 291px 271px #ffffffb6,
    1257px 1964px #ffffffb6, 1580px 1352px #ffffffb6, 1507px 1216px #ffffffb6, 211px 956px #ffffffb6,
    985px 1195px #ffffffb6, 975px 1640px #ffffffb6, 518px 101px #ffffffb6, 663px 1395px #ffffffb6,
    914px 532px #ffffffb6, 145px 1320px #ffffffb6, 69px 1397px #ffffffb6, 982px 523px #ffffffb6,
    257px 725px #ffffffb6, 1599px 831px #ffffffb6, 1636px 1513px #ffffffb6, 1250px 1158px #ffffffb6,
    1132px 604px #ffffffb6, 183px 102px #ffffffb6, 1057px 318px #ffffffb6, 1247px 1835px #ffffffb6,
    1983px 1110px #ffffffb6, 1077px 1455px #ffffffb6, 921px 1770px #ffffffb6, 806px 1350px #ffffffb6,
    1938px 1992px #ffffffb6, 855px 1260px #ffffffb6, 902px 1345px #ffffffb6, 658px 1908px #ffffffb6,
    1845px 679px #ffffffb6, 712px 1482px #ffffffb6, 595px 950px #ffffffb6, 1784px 1992px #ffffffb6,
    1847px 1785px #ffffffb6, 691px 1004px #ffffffb6, 175px 1179px #ffffffb6, 1666px 1911px #ffffffb6,
    41px 61px #ffffffb6, 971px 1080px #ffffffb6, 1830px 1450px #ffffffb6, 1351px 1518px #ffffffb6,
    1257px 99px #ffffffb6, 1395px 1498px #ffffffb6, 1117px 252px #ffffffb6, 1779px 597px #ffffffb6,
    1346px 729px #ffffffb6, 1108px 1144px #ffffffb6, 402px 691px #ffffffb6, 72px 496px #ffffffb6,
    1673px 1604px #ffffffb6, 1497px 974px #ffffffb6, 1865px 1664px #ffffffb6, 88px 806px #ffffffb6,
    918px 77px #ffffffb6, 244px 1118px #ffffffb6, 256px 1820px #ffffffb6, 1851px 1840px #ffffffb6,
    605px 1851px #ffffffb6, 634px 383px #ffffffb6, 865px 37px #ffffffb6, 943px 1024px #ffffffb6,
    1951px 177px #ffffffb6, 1097px 523px #ffffffb6, 985px 1700px #ffffffb6, 1243px 122px #ffffffb6,
    768px 1070px #ffffffb6, 468px 194px #ffffffb6, 320px 1867px #ffffffb6, 1850px 185px #ffffffb6,
    380px 1616px #ffffffb6, 468px 1294px #ffffffb6, 1122px 1743px #ffffffb6, 884px 299px #ffffffb6,
    1300px 1917px #ffffffb6, 1860px 396px #ffffffb6, 1270px 990px #ffffffb6, 529px 733px #ffffffb6,
    1975px 1347px #ffffffb6, 1885px 685px #ffffffb6, 226px 506px #ffffffb6, 651px 878px #ffffffb6,
    1323px 680px #ffffffb6, 1284px 680px #ffffffb6, 238px 1967px #ffffffb6, 911px 174px #ffffffb6,
    1111px 521px #ffffffb6, 1150px 85px #ffffffb6, 794px 502px #ffffffb6, 484px 1856px #ffffffb6,
    1809px 368px #ffffffb6, 112px 953px #ffffffb6, 590px 1009px #ffffffb6, 1655px 311px #ffffffb6,
    100px 1026px #ffffffb6, 1803px 352px #ffffffb6, 865px 306px #ffffffb6, 1077px 1019px #ffffffb6,
    1335px 872px #ffffffb6, 1647px 1298px #ffffffb6, 1233px 1387px #ffffffb6, 698px 1036px #ffffffb6,
    659px 1860px #ffffffb6, 388px 1412px #ffffffb6, 1212px 458px #ffffffb6, 755px 1468px #ffffffb6,
    696px 1654px #ffffffb6, 1144px 60px #ffffffb6;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1448px 320px #ffffffb6, 1775px 1663px #ffffffb6, 332px 1364px #ffffffb6,
    878px 340px #ffffffb6, 569px 1832px #ffffffb6, 1422px 1684px #ffffffb6, 1946px 1907px #ffffffb6,
    121px 979px #ffffffb6, 1044px 1069px #ffffffb6, 463px 381px #ffffffb6, 423px 112px #ffffffb6,
    523px 1179px #ffffffb6, 779px 654px #ffffffb6, 1398px 694px #ffffffb6, 1085px 1464px #ffffffb6,
    1599px 1869px #ffffffb6, 801px 1882px #ffffffb6, 779px 1231px #ffffffb6, 552px 932px #ffffffb6,
    1057px 1196px #ffffffb6, 282px 1280px #ffffffb6, 496px 1986px #ffffffb6, 1833px 1120px #ffffffb6,
    1802px 1293px #ffffffb6, 6px 1696px #ffffffb6, 412px 1902px #ffffffb6, 605px 438px #ffffffb6,
    24px 1212px #ffffffb6, 234px 1320px #ffffffb6, 544px 344px #ffffffb6, 1107px 170px #ffffffb6,
    1603px 196px #ffffffb6, 905px 648px #ffffffb6, 68px 1458px #ffffffb6, 649px 1969px #ffffffb6,
    744px 675px #ffffffb6, 1127px 478px #ffffffb6, 714px 1814px #ffffffb6, 1486px 526px #ffffffb6,
    270px 1636px #ffffffb6, 1931px 149px #ffffffb6, 1807px 378px #ffffffb6, 8px 390px #ffffffb6,
    1415px 699px #ffffffb6, 1473px 1211px #ffffffb6, 1590px 141px #ffffffb6, 270px 1705px #ffffffb6,
    69px 1423px #ffffffb6, 1108px 1053px #ffffffb6, 1946px 128px #ffffffb6, 371px 371px #ffffffb6,
    1490px 220px #ffffffb6, 357px 1885px #ffffffb6, 363px 363px #ffffffb6, 1896px 1256px #ffffffb6,
    1979px 1050px #ffffffb6, 947px 1342px #ffffffb6, 1754px 242px #ffffffb6, 514px 974px #ffffffb6,
    65px 1477px #ffffffb6, 1840px 547px #ffffffb6, 950px 695px #ffffffb6, 459px 1150px #ffffffb6,
    1124px 1502px #ffffffb6, 481px 940px #ffffffb6, 680px 839px #ffffffb6, 797px 1169px #ffffffb6,
    1977px 1491px #ffffffb6, 734px 1724px #ffffffb6, 210px 298px #ffffffb6, 816px 628px #ffffffb6,
    686px 770px #ffffffb6, 1721px 267px #ffffffb6, 1663px 511px #ffffffb6, 1481px 1141px #ffffffb6,
    582px 248px #ffffffb6, 1308px 953px #ffffffb6, 628px 657px #ffffffb6, 897px 1535px #ffffffb6,
    270px 931px #ffffffb6, 791px 467px #ffffffb6, 1336px 1732px #ffffffb6, 1013px 1653px #ffffffb6,
    1911px 956px #ffffffb6, 587px 816px #ffffffb6, 83px 456px #ffffffb6, 930px 1478px #ffffffb6,
    1587px 1694px #ffffffb6, 614px 1200px #ffffffb6, 302px 1782px #ffffffb6, 1711px 1432px #ffffffb6,
    443px 904px #ffffffb6, 1666px 714px #ffffffb6, 1588px 1167px #ffffffb6, 273px 1075px #ffffffb6,
    1679px 461px #ffffffb6, 721px 664px #ffffffb6, 1202px 10px #ffffffb6, 166px 1126px #ffffffb6,
    331px 1628px #ffffffb6, 430px 1565px #ffffffb6, 1585px 509px #ffffffb6, 640px 38px #ffffffb6,
    822px 837px #ffffffb6, 1760px 1664px #ffffffb6, 1122px 1458px #ffffffb6, 398px 131px #ffffffb6,
    689px 285px #ffffffb6, 460px 652px #ffffffb6, 1627px 365px #ffffffb6, 348px 1648px #ffffffb6,
    819px 1946px #ffffffb6, 981px 1917px #ffffffb6, 323px 76px #ffffffb6, 979px 684px #ffffffb6,
    887px 536px #ffffffb6, 1348px 1596px #ffffffb6, 1055px 666px #ffffffb6, 1402px 1797px #ffffffb6,
    1300px 1055px #ffffffb6, 937px 238px #ffffffb6, 1474px 1815px #ffffffb6, 1144px 1710px #ffffffb6,
    1629px 1087px #ffffffb6, 911px 919px #ffffffb6, 771px 819px #ffffffb6, 403px 720px #ffffffb6,
    163px 736px #ffffffb6, 1062px 238px #ffffffb6, 1774px 818px #ffffffb6, 1874px 1178px #ffffffb6,
    1177px 699px #ffffffb6, 1244px 1244px #ffffffb6, 1371px 58px #ffffffb6, 564px 1515px #ffffffb6,
    1824px 487px #ffffffb6, 929px 702px #ffffffb6, 394px 1348px #ffffffb6, 1161px 641px #ffffffb6,
    219px 1841px #ffffffb6, 358px 941px #ffffffb6, 140px 1759px #ffffffb6, 1019px 1345px #ffffffb6,
    274px 436px #ffffffb6, 1433px 1605px #ffffffb6, 1798px 1426px #ffffffb6, 294px 1848px #ffffffb6,
    1681px 1877px #ffffffb6, 1344px 1824px #ffffffb6, 1439px 1632px #ffffffb6,
    161px 1012px #ffffffb6, 1308px 588px #ffffffb6, 1789px 582px #ffffffb6, 721px 1910px #ffffffb6,
    318px 218px #ffffffb6, 607px 319px #ffffffb6, 495px 535px #ffffffb6, 1552px 1575px #ffffffb6,
    1562px 67px #ffffffb6, 403px 926px #ffffffb6, 1096px 1800px #ffffffb6, 1814px 1709px #ffffffb6,
    1882px 1831px #ffffffb6, 533px 46px #ffffffb6, 823px 969px #ffffffb6, 530px 165px #ffffffb6,
    1030px 352px #ffffffb6, 1681px 313px #ffffffb6, 338px 115px #ffffffb6, 1607px 211px #ffffffb6,
    1718px 1184px #ffffffb6, 1589px 659px #ffffffb6, 278px 355px #ffffffb6, 464px 1464px #ffffffb6,
    1165px 277px #ffffffb6, 950px 694px #ffffffb6, 1746px 293px #ffffffb6, 793px 911px #ffffffb6,
    528px 773px #ffffffb6, 1883px 1694px #ffffffb6, 748px 182px #ffffffb6, 1924px 1531px #ffffffb6,
    100px 636px #ffffffb6, 1473px 1445px #ffffffb6, 1264px 1244px #ffffffb6, 850px 1377px #ffffffb6,
    987px 1976px #ffffffb6, 933px 1761px #ffffffb6, 922px 1270px #ffffffb6, 500px 396px #ffffffb6,
    1324px 8px #ffffffb6, 1967px 1814px #ffffffb6, 1072px 1401px #ffffffb6, 961px 37px #ffffffb6,
    156px 81px #ffffffb6, 1915px 502px #ffffffb6, 1076px 1846px #ffffffb6, 152px 1669px #ffffffb6,
    986px 1529px #ffffffb6, 1667px 1137px #ffffffb6;
}

#stars2:after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1448px 320px #ffffffb6, 1775px 1663px #ffffffb6, 332px 1364px #ffffffb6,
    878px 340px #ffffffb6, 569px 1832px #ffffffb6, 1422px 1684px #ffffffb6, 1946px 1907px #ffffffb6,
    121px 979px #ffffffb6, 1044px 1069px #ffffffb6, 463px 381px #ffffffb6, 423px 112px #ffffffb6,
    523px 1179px #ffffffb6, 779px 654px #ffffffb6, 1398px 694px #ffffffb6, 1085px 1464px #ffffffb6,
    1599px 1869px #ffffffb6, 801px 1882px #ffffffb6, 779px 1231px #ffffffb6, 552px 932px #ffffffb6,
    1057px 1196px #ffffffb6, 282px 1280px #ffffffb6, 496px 1986px #ffffffb6, 1833px 1120px #ffffffb6,
    1802px 1293px #ffffffb6, 6px 1696px #ffffffb6, 412px 1902px #ffffffb6, 605px 438px #ffffffb6,
    24px 1212px #ffffffb6, 234px 1320px #ffffffb6, 544px 344px #ffffffb6, 1107px 170px #ffffffb6,
    1603px 196px #ffffffb6, 905px 648px #ffffffb6, 68px 1458px #ffffffb6, 649px 1969px #ffffffb6,
    744px 675px #ffffffb6, 1127px 478px #ffffffb6, 714px 1814px #ffffffb6, 1486px 526px #ffffffb6,
    270px 1636px #ffffffb6, 1931px 149px #ffffffb6, 1807px 378px #ffffffb6, 8px 390px #ffffffb6,
    1415px 699px #ffffffb6, 1473px 1211px #ffffffb6, 1590px 141px #ffffffb6, 270px 1705px #ffffffb6,
    69px 1423px #ffffffb6, 1108px 1053px #ffffffb6, 1946px 128px #ffffffb6, 371px 371px #ffffffb6,
    1490px 220px #ffffffb6, 357px 1885px #ffffffb6, 363px 363px #ffffffb6, 1896px 1256px #ffffffb6,
    1979px 1050px #ffffffb6, 947px 1342px #ffffffb6, 1754px 242px #ffffffb6, 514px 974px #ffffffb6,
    65px 1477px #ffffffb6, 1840px 547px #ffffffb6, 950px 695px #ffffffb6, 459px 1150px #ffffffb6,
    1124px 1502px #ffffffb6, 481px 940px #ffffffb6, 680px 839px #ffffffb6, 797px 1169px #ffffffb6,
    1977px 1491px #ffffffb6, 734px 1724px #ffffffb6, 210px 298px #ffffffb6, 816px 628px #ffffffb6,
    686px 770px #ffffffb6, 1721px 267px #ffffffb6, 1663px 511px #ffffffb6, 1481px 1141px #ffffffb6,
    582px 248px #ffffffb6, 1308px 953px #ffffffb6, 628px 657px #ffffffb6, 897px 1535px #ffffffb6,
    270px 931px #ffffffb6, 791px 467px #ffffffb6, 1336px 1732px #ffffffb6, 1013px 1653px #ffffffb6,
    1911px 956px #ffffffb6, 587px 816px #ffffffb6, 83px 456px #ffffffb6, 930px 1478px #ffffffb6,
    1587px 1694px #ffffffb6, 614px 1200px #ffffffb6, 302px 1782px #ffffffb6, 1711px 1432px #ffffffb6,
    443px 904px #ffffffb6, 1666px 714px #ffffffb6, 1588px 1167px #ffffffb6, 273px 1075px #ffffffb6,
    1679px 461px #ffffffb6, 721px 664px #ffffffb6, 1202px 10px #ffffffb6, 166px 1126px #ffffffb6,
    331px 1628px #ffffffb6, 430px 1565px #ffffffb6, 1585px 509px #ffffffb6, 640px 38px #ffffffb6,
    822px 837px #ffffffb6, 1760px 1664px #ffffffb6, 1122px 1458px #ffffffb6, 398px 131px #ffffffb6,
    689px 285px #ffffffb6, 460px 652px #ffffffb6, 1627px 365px #ffffffb6, 348px 1648px #ffffffb6,
    819px 1946px #ffffffb6, 981px 1917px #ffffffb6, 323px 76px #ffffffb6, 979px 684px #ffffffb6,
    887px 536px #ffffffb6, 1348px 1596px #ffffffb6, 1055px 666px #ffffffb6, 1402px 1797px #ffffffb6,
    1300px 1055px #ffffffb6, 937px 238px #ffffffb6, 1474px 1815px #ffffffb6, 1144px 1710px #ffffffb6,
    1629px 1087px #ffffffb6, 911px 919px #ffffffb6, 771px 819px #ffffffb6, 403px 720px #ffffffb6,
    163px 736px #ffffffb6, 1062px 238px #ffffffb6, 1774px 818px #ffffffb6, 1874px 1178px #ffffffb6,
    1177px 699px #ffffffb6, 1244px 1244px #ffffffb6, 1371px 58px #ffffffb6, 564px 1515px #ffffffb6,
    1824px 487px #ffffffb6, 929px 702px #ffffffb6, 394px 1348px #ffffffb6, 1161px 641px #ffffffb6,
    219px 1841px #ffffffb6, 358px 941px #ffffffb6, 140px 1759px #ffffffb6, 1019px 1345px #ffffffb6,
    274px 436px #ffffffb6, 1433px 1605px #ffffffb6, 1798px 1426px #ffffffb6, 294px 1848px #ffffffb6,
    1681px 1877px #ffffffb6, 1344px 1824px #ffffffb6, 1439px 1632px #ffffffb6,
    161px 1012px #ffffffb6, 1308px 588px #ffffffb6, 1789px 582px #ffffffb6, 721px 1910px #ffffffb6,
    318px 218px #ffffffb6, 607px 319px #ffffffb6, 495px 535px #ffffffb6, 1552px 1575px #ffffffb6,
    1562px 67px #ffffffb6, 403px 926px #ffffffb6, 1096px 1800px #ffffffb6, 1814px 1709px #ffffffb6,
    1882px 1831px #ffffffb6, 533px 46px #ffffffb6, 823px 969px #ffffffb6, 530px 165px #ffffffb6,
    1030px 352px #ffffffb6, 1681px 313px #ffffffb6, 338px 115px #ffffffb6, 1607px 211px #ffffffb6,
    1718px 1184px #ffffffb6, 1589px 659px #ffffffb6, 278px 355px #ffffffb6, 464px 1464px #ffffffb6,
    1165px 277px #ffffffb6, 950px 694px #ffffffb6, 1746px 293px #ffffffb6, 793px 911px #ffffffb6,
    528px 773px #ffffffb6, 1883px 1694px #ffffffb6, 748px 182px #ffffffb6, 1924px 1531px #ffffffb6,
    100px 636px #ffffffb6, 1473px 1445px #ffffffb6, 1264px 1244px #ffffffb6, 850px 1377px #ffffffb6,
    987px 1976px #ffffffb6, 933px 1761px #ffffffb6, 922px 1270px #ffffffb6, 500px 396px #ffffffb6,
    1324px 8px #ffffffb6, 1967px 1814px #ffffffb6, 1072px 1401px #ffffffb6, 961px 37px #ffffffb6,
    156px 81px #ffffffb6, 1915px 502px #ffffffb6, 1076px 1846px #ffffffb6, 152px 1669px #ffffffb6,
    986px 1529px #ffffffb6, 1667px 1137px #ffffffb6;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  animation: animStar 150s linear infinte;
  box-shadow: 387px 1878px #ffffffb6, 760px 1564px #ffffffb6, 1487px 999px #ffffffb6,
    948px 1828px #ffffffb6, 1977px 1001px #ffffffb6, 1284px 1963px #ffffffb6, 656px 284px #ffffffb6,
    1268px 1635px #ffffffb6, 1820px 598px #ffffffb6, 642px 1900px #ffffffb6, 296px 57px #ffffffb6,
    921px 1620px #ffffffb6, 476px 1858px #ffffffb6, 658px 613px #ffffffb6, 1171px 1363px #ffffffb6,
    1419px 283px #ffffffb6, 1037px 731px #ffffffb6, 503px 663px #ffffffb6, 1562px 463px #ffffffb6,
    383px 1197px #ffffffb6, 1171px 1233px #ffffffb6, 876px 1768px #ffffffb6, 856px 1615px #ffffffb6,
    1375px 1924px #ffffffb6, 1725px 918px #ffffffb6, 952px 119px #ffffffb6, 768px 1212px #ffffffb6,
    992px 1462px #ffffffb6, 1929px 717px #ffffffb6, 1947px 755px #ffffffb6, 1818px 1123px #ffffffb6,
    1896px 1672px #ffffffb6, 460px 198px #ffffffb6, 256px 271px #ffffffb6, 752px 544px #ffffffb6,
    1222px 1859px #ffffffb6, 1851px 443px #ffffffb6, 313px 1858px #ffffffb6, 709px 446px #ffffffb6,
    1546px 697px #ffffffb6, 674px 1155px #ffffffb6, 1112px 130px #ffffffb6, 355px 1790px #ffffffb6,
    1496px 974px #ffffffb6, 1696px 480px #ffffffb6, 1316px 1265px #ffffffb6, 1645px 1063px #ffffffb6,
    1182px 237px #ffffffb6, 427px 1582px #ffffffb6, 859px 253px #ffffffb6, 458px 939px #ffffffb6,
    1517px 1644px #ffffffb6, 1943px 60px #ffffffb6, 212px 1650px #ffffffb6, 966px 1786px #ffffffb6,
    473px 712px #ffffffb6, 130px 76px #ffffffb6, 1417px 1186px #ffffffb6, 909px 1580px #ffffffb6,
    1913px 762px #ffffffb6, 204px 1143px #ffffffb6, 1998px 1057px #ffffffb6, 1468px 1301px #ffffffb6,
    144px 1676px #ffffffb6, 21px 1601px #ffffffb6, 382px 1362px #ffffffb6, 912px 753px #ffffffb6,
    1488px 1405px #ffffffb6, 802px 156px #ffffffb6, 174px 550px #ffffffb6, 338px 1366px #ffffffb6,
    1197px 774px #ffffffb6, 602px 486px #ffffffb6, 682px 1877px #ffffffb6, 348px 1503px #ffffffb6,
    407px 1139px #ffffffb6, 950px 1400px #ffffffb6, 922px 1139px #ffffffb6, 1697px 293px #ffffffb6,
    1238px 1281px #ffffffb6, 1038px 1197px #ffffffb6, 376px 1889px #ffffffb6,
    1255px 1680px #ffffffb6, 1008px 1316px #ffffffb6, 1538px 1447px #ffffffb6,
    1186px 874px #ffffffb6, 1967px 640px #ffffffb6, 1341px 19px #ffffffb6, 29px 1732px #ffffffb6,
    16px 1650px #ffffffb6, 1021px 1075px #ffffffb6, 723px 424px #ffffffb6, 1175px 41px #ffffffb6,
    494px 1957px #ffffffb6, 1296px 431px #ffffffb6, 175px 1507px #ffffffb6, 831px 121px #ffffffb6,
    498px 1947px #ffffffb6, 617px 880px #ffffffb6, 240px 403px #ffffffb6;
}

#stars3:after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 387px 1878px #ffffffb6, 760px 1564px #ffffffb6, 1487px 999px #ffffffb6,
    948px 1828px #ffffffb6, 1977px 1001px #ffffffb6, 1284px 1963px #ffffffb6, 656px 284px #ffffffb6,
    1268px 1635px #ffffffb6, 1820px 598px #ffffffb6, 642px 1900px #ffffffb6, 296px 57px #ffffffb6,
    921px 1620px #ffffffb6, 476px 1858px #ffffffb6, 658px 613px #ffffffb6, 1171px 1363px #ffffffb6,
    1419px 283px #ffffffb6, 1037px 731px #ffffffb6, 503px 663px #ffffffb6, 1562px 463px #ffffffb6,
    383px 1197px #ffffffb6, 1171px 1233px #ffffffb6, 876px 1768px #ffffffb6, 856px 1615px #ffffffb6,
    1375px 1924px #ffffffb6, 1725px 918px #ffffffb6, 952px 119px #ffffffb6, 768px 1212px #ffffffb6,
    992px 1462px #ffffffb6, 1929px 717px #ffffffb6, 1947px 755px #ffffffb6, 1818px 1123px #ffffffb6,
    1896px 1672px #ffffffb6, 460px 198px #ffffffb6, 256px 271px #ffffffb6, 752px 544px #ffffffb6,
    1222px 1859px #ffffffb6, 1851px 443px #ffffffb6, 313px 1858px #ffffffb6, 709px 446px #ffffffb6,
    1546px 697px #ffffffb6, 674px 1155px #ffffffb6, 1112px 130px #ffffffb6, 355px 1790px #ffffffb6,
    1496px 974px #ffffffb6, 1696px 480px #ffffffb6, 1316px 1265px #ffffffb6, 1645px 1063px #ffffffb6,
    1182px 237px #ffffffb6, 427px 1582px #ffffffb6, 859px 253px #ffffffb6, 458px 939px #ffffffb6,
    1517px 1644px #ffffffb6, 1943px 60px #ffffffb6, 212px 1650px #ffffffb6, 966px 1786px #ffffffb6,
    473px 712px #ffffffb6, 130px 76px #ffffffb6, 1417px 1186px #ffffffb6, 909px 1580px #ffffffb6,
    1913px 762px #ffffffb6, 204px 1143px #ffffffb6, 1998px 1057px #ffffffb6, 1468px 1301px #ffffffb6,
    144px 1676px #ffffffb6, 21px 1601px #ffffffb6, 382px 1362px #ffffffb6, 912px 753px #ffffffb6,
    1488px 1405px #ffffffb6, 802px 156px #ffffffb6, 174px 550px #ffffffb6, 338px 1366px #ffffffb6,
    1197px 774px #ffffffb6, 602px 486px #ffffffb6, 682px 1877px #ffffffb6, 348px 1503px #ffffffb6,
    407px 1139px #ffffffb6, 950px 1400px #ffffffb6, 922px 1139px #ffffffb6, 1697px 293px #ffffffb6,
    1238px 1281px #ffffffb6, 1038px 1197px #ffffffb6, 376px 1889px #ffffffb6,
    1255px 1680px #ffffffb6, 1008px 1316px #ffffffb6, 1538px 1447px #ffffffb6,
    1186px 874px #ffffffb6, 1967px 640px #ffffffb6, 1341px 19px #ffffffb6, 29px 1732px #ffffffb6,
    16px 1650px #ffffffb6, 1021px 1075px #ffffffb6, 723px 424px #ffffffb6, 1175px 41px #ffffffb6,
    494px 1957px #ffffffb6, 1296px 431px #ffffffb6, 175px 1507px #ffffffb6, 831px 121px #ffffffb6,
    498px 1947px #ffffffb6, 617px 880px #ffffffb6, 240px 403px #ffffffb6;
}
